:root {
    --poly-blue: rgba(0, 78, 152, 0.07);
    --bice-blue: rgba(58, 110, 165, 0.07);
    --silver: rgba(192, 192, 192, 0.07);
    --antiflash-white: rgba(235, 235, 235, 0.07);
    --pumpkin: rgba(255, 103, 0, 0.07);
  }
