@font-face {
    font-family: "AeonikTRIAL-Bold";
    src: url('/fonts/aeonik-trials/AeonikTRIAL-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "AeonikTRIAL-BoldItalic";
    src: url('/fonts/aeonik-trials/AeonikTRIAL-BoldItalic.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "AeonikTRIAL-Light";
    src: url('/fonts/aeonik-trials/AeonikTRIAL-Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "AeonikTRIAL-LightItalic";
    src: url('/fonts/aeonik-trials/AeonikTRIAL-LightItalic.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "AeonikTRIAL-Regular";
    src: url('/fonts/aeonik-trials/AeonikTRIAL-Regular.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "AeonikTRIAL-RegularItalic";
    src: url('/fonts/aeonik-trials/AeonikTRIAL-RegularItalic.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}